:root{
    ---primary-colour:#4C243B;
    ---secondary-colour:#AC7BB4;
    --auxiliary-colour:#fff;
    --padding-horizontal:100px;
    --card-background-colour:#FFEFF2;

}
html,body ,h1 ,h3 ,p{
    margin: 0;
  font-family: "Poppins", sans-serif;
}


nav{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: var(--padding-horizontal);
    background-color: var(---primary-colour);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--padding-horizontal);
}
nav>div>a{
    color: #fff;
    text-decoration: none;
    margin-right: 4px;
}

nav>div>h1{
    color: #fff;
    margin-left: 4px;
}
.logo{
    display: flex;
}
#homeSection {
    display: flex;
    align-items: center;
    
    height: 80vh;
    padding-right: var(--padding-horizontal);
    padding-left: var(--padding-horizontal);

}
#homeSection > img {
    aspect-ratio: 1/1;
    width: 380px;
    height: 380px;
    border-radius: 50%;

}
#homeSection>div{
    padding-left: 128px;
    width: 50vw;

}
#homeSection>div>h1{
    font-size:64px ;
    color:var(---secondary-colour);
}
#homeSection>div>p{
    font-size: 16px;
    margin: 0;
    padding-bottom: 20px;
    font-weight: 300;
    color: var(---secondary-colour);
    
}
#homeSection>div>button{
    all: unset;
    background-color: var(---primary-colour);
    color: #fff;
    padding-left: 4px;
    padding-right: 8px;
    padding-top:12px ;
    padding-bottom: 12px;
    border-radius: 50px;
    transition: 1s;
}
#homeSection>div>button:hover{
    background-color: #AC7BB4;
    cursor: pointer ;
    color: var(---primary-colour);
    
}
#projectSection{
    height: 80vh;
}
#project section>.projects{
    display: flex;
    padding-top: 20px;
    padding-left: var(--padding-horizontal);
    padding-bottom: 20px;
    padding-right:var(--padding-horizontal);
    
    
}
#projectSection>div>h1{
    font-size: 40px;
    text-align: center;
    color:var(---secondary-colour);
    
}
#projectSection>div>p{
    font-weight: 300;
    text-align: center;
    margin: 0;
    color:var(---secondary-colour);
    
}
#projectSection>div>.card{
    width: 311px;
    height: 370px;
    border-radius: 30px;
    padding: 16px;
    margin: 12px;
    color: #AC7BB4;
    background-color: var(--card-background-colour);
    
    
    

}
#projectSection>div>.card>button {
    all: unset;
    background-color: var(---primary-colour);
    color: #fff;
    padding-left:24px;
    padding-right:24px;
    padding-top:12px ;
    padding-bottom: 12px;
    border-radius: 50px;
    transition: 2s;
    margin-bottom: 16px;
}
#projectSection .projects.card>button:hover{
    margin-top: 16px;
    color: #AC7BB4;
    cursor: pointer;

}

#projectSection>div>.card>img{
    width: 100%;
    height: 153px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 30px;
    
}
#projectSection>div>.card>h3{
    font-size: 20px;
    margin-top: 16px;
    color:var(---primary-colour);
    
}
#projectSection>div>.card>p{
    font-size: 12px;
    margin-top: 12px;
    color:var(---secondary-colour);
}
#myProjects{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: var(--padding-horizontal);
    padding-right: var(--padding-horizontal);
    justify-content: center;
}
#contactSection{
    
    padding-left: var(--padding-horizontal);
    padding-right: var(--padding-horizontal);
    height: 60vh;
    
    

}
#contactSection > form > .user {
    display: flex;
}
#contactSection > form > .age {
    display: flex;
} 


 #contactSection > form  {
    padding: 20px;
    width: 60vw;
    margin: auto;
    background-color: var(---secondary-colour);
    border-radius: 30px;
}
#contactSection > form > h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(---primary-colour);
}
#contactSection > form > .userNameEmail, .userAgeBirthday{ 
    display: flex;
}
#contactSection > form  > .userNameEmail > div{
    margin-top: 16px;
    padding-left:12px ;
    padding-right: 12px; 
}
#contactSection > form  > .userAgeBirthday > div{
    margin-top: 16px;
    padding-left:12px ;
    padding-right: 12px; 
}
#contactSection > form > .userNameEmail, .userAgeBirthday> div > label{
    font-weight: 500;
}
#projectSection .projects.card>button:hover{
    margin-top: 16px;
    color: #AC7BB4;
    cursor: pointer;

    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color:var(---primary-colour);
    margin-bottom: 16px;
}
#contactSection > form >  .userAgeBirthday> div > label{
    font-weight: 500;

    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color:var(---primary-colour);
    margin-bottom: 16px;
}
#contactSection > form > .userNameEmail> div > input{
    all: unset;
    border-radius: 12px;
    margin-top: 10px;
    height: 30px;
    width: 25vw; 
    padding-left:16px ;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-top: 16px;
    background-color: rgb(230, 230, 230);
    font-size: 14px;
    
}
#contactSection > form > .userAgeBirthday> div > input{
    all: unset;
    border-radius: 12px;
    margin-top: 10px;
    height: 30px;
    width: 25vw; 
    padding-left:16px ;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-top: 16px;
    background-color: rgb(230, 230, 230);
    font-size: 14px;
    
}
#contactSection > form >  .userMessage{
       margin-top: 16px;
    padding-left:12px ;
    padding-right: 12px; 
}
#contactSection > form >  .userMessage > label{ 
 font-weight: 500;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color:var(---primary-colour);
    margin-bottom: 16px;
 
}

#contactSection > form >div  >textarea{
    all: unset;
    border-radius: 12px;
    padding-top: 4px;
    padding-bottom:4px ;
    padding-right: 16px;
    padding-left: 16px;
    font-size: 14px;
    background-color: rgb(230, 230, 230);
    width:50vw
}
#contactSection >form > input {
     all: unset;
    background-color: var(---primary-colour);
    color: #fff;
    padding-left: 4px;
    padding-right: 8px;
    padding-top:12px ;
    padding-bottom: 12px;
    border-radius: 50px;
    transition: 1s;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

} 
