:root{
    ---primary-colour:#4C243B;
    ---secondary-colour:#AC7BB4;
    --auxiliary-colour:#fff;
    --padding-horizontal:100px;
    --card-background-colour:#FFEFF2;

}

html,body ,h1 ,h3 ,p{
    margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #FFEFF2;
}


nav{
    padding-bottom: 10px;
    padding-top: 10x;
    background-color: var(---primary-colour);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: var(--padding-horizontal);
    padding-left: var(--padding-horizontal);
    background-color: #AC7BB4;
}

nav>div>a{
    color: teal;
    text-decoration: none;
    margin-right: 10px
}
nav>div>span{
    color-scheme: var(---primary-colour);
    text-decoration: none;
}

nav>div>h1{
    color: #fff;
    margin-left: 4px;
}
.logo{
    display: flex;
}
#homeSection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding-right: var(--padding-horizontal);
    padding-left: var(--padding-horizontal);

}
#homeSection > img {
    aspect-ratio: 1/1;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    align-items: center;

}
#homeSection>div{
    padding-left: 128px;
    width: 50vw;

}
#homeSection>div>h1{
    font-size:64px ;
    color:var(---secondary-colour);
}
#homeSection>div>p{
    font-size: 16px;
    margin: 0;
    padding-bottom: 20px;
    font-weight: 300;
    color: var(---secondary-colour);
    
}
#homeSection>div>button{
    all: unset;
    background-color: var(---primary-colour);
    color: #fff;
    padding-left: 4px;
    padding-right: 8px;
    padding-top:12px ;
    padding-bottom: 12px;
    border-radius: 50px;
    transition: 1s;
}
#homeSection>div>button:hover{
    background-color: #AC7BB4;
    cursor: pointer ;
    color: var(---primary-colour);
    
}
#projectSection{
    height: 80vh;
    color:black;
}
#projectSection>.projects{
    display: flex;
    padding-top: 20px;

    padding-left: var(--padding-horizontal);
    padding-bottom: 20px;
    padding-right:var(--padding-horizontal);
    
    
}
#projectSection>div>h1{
    font-size: 40px;
    text-align: center;
    color: black;
    color:var(---secondary-colour);
    
}
#projectSection>div>p{
    font-weight: 300;
    text-align: center;

    margin: 0;
    color:var(---secondary-colour);
    
}
#projectSection>.projects>.card{
    width: 311px;
    height: 400px;
    border-radius: 30px;
    padding: 16px;
    margin: 15px;
    color:blue;

    background-color: var(--card-background-colour);
    
    
    

}
#projectSection>.projects>.card>button {
    all: unset;
    background-color: var(---primary-colour);
    color:navy;
    padding-left:24px;
    padding-right:24px;
    padding-top:12px ;
    margin-bottom: 16px;
    transition: 2s;
    padding-bottom: 12px;
    border-radius: 5
    
    
}
#projectSection>.projects>.card>button:hover{
    margin-top: 16px;
    color: #AC7BB4;
    cursor: pointer;

}

#projectSection>.projects>.card>img{
    width: 100%;
    height: 153px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 30px;
    
}
#projectSection>div>.card>h3{
    font-size: 20px;
    margin-top: 16px;
    color:var(---primary-colour);
    
}
#projectSection>div>.card>p{
    font-size: 12px;
    margin-top: 12px;
    color:var(---secondary-colour);
}
.projects{
    display: flex;
    color: #4C243B;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right:var(--padding-horizontal);
    padding-left:var(--padding-horizontal);
    justify-content: center;
}
#aboutMe{
    padding-right: var(--padding-horizontal);
    padding-left: var(--padding-horizontal);
    color: #4C243B;
    align-content: center;
}
#contactMe{
    padding-right: var(--padding-horizontal);
    padding-left: var(--padding-horizontal);
    color: blue;
    align-content: center;
}